/* Grundlayout */
body {
    background: linear-gradient(90deg, #5e5e5e, #000000);
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Pokédex-Titel */
h1 {
    font-size: 3em;
    margin-top: 20px;
    text-shadow: 2px 2px #000;
    letter-spacing: 2px;
}

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.header_img {
    width: 80px;
}

#searchInput {
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

/* Pokémon-Container */
#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Einzelne Pokémon-Karte */
.pokemon {
    border: 3px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    margin: 15px;
    padding: 15px;
    width: 200px;
    transition: transform 0.3s ease;
}

.pokemon:hover {
    transform: scale(1.05);
}

/* Pokémon-Bild */
.pokemon img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 10px;
}

/* Pokémon-Name */
.pokemon h3 {
    font-size: 1.5em;
    margin: 0;
    color: #000;
}

/* Typ-Anzeige */
.pokemon p {
    font-size: 1em;
    margin-top: 5px;
    color: #000;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
}

/* Button-Styling */
button {
    background-color: #ffeb3b;
    color: #000;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0 4px #999;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fdd835;
}

/*Dialog-Styling*/
dialog {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding: 0;
    color: rgb(12, 6, 6);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

#dialogHeader {
    background: linear-gradient(360deg, rgb(252, 252, 252), #990101);
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
}

.pokeName {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    background: linear-gradient(360deg, rgb(252, 252, 252), #990101);
}

.pokeImg {
    height: 300px;
    aspect-ratio: 1/1;
    background-image: url(./assets/img/pokeball.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
}

#pokemonDialog {
    background-image: url(./assets/img/pokemon_background_two.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    height: 100vh;
}

.chart-container {
    width: 800px;
    height: 280px;
    position: relative;
}

.pokemon-details {
    display: flex;
    height: 80%;
}

.left-panel {
    flex: 2;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3c2b3;
}

.right-panel {
    border: 1px solid black;
    border-radius: 10px;
    flex: 1;
    height: 700px;
    border-left: 2px solid #555;
    overflow-y: scroll;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 20px;
    background-color: #e3c2b3;
    ;
}

.pokeListName {
    border: 1px solid black;
    margin: 8px 5px;
    background: linear-gradient(180deg, rgb(165, 165, 165), rgb(235, 235, 235));
    border-radius: 10px;
    transition: 0.02s ease-in;
}

.pokeListName:hover {
    scale: 0.8;
}

.scroll-list {
    display: flex;
    flex-direction: column;
}

.scroll-list div {
    padding: 8px;
    cursor: pointer;
}

.scroll-list div:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Vollbild-Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Spinner */
.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.arrow {
    background-color: white;
    height: 40px;
    color: black;
    border: 2px solid black;
    border-radius: 999px;
}

.arrow:hover {
    scale: 1.2;
}

/* Responsive Dialog-Anpassungen */

@media (max-width: 1100px) {
    .right-panel {
        display: none;
    }
}

@media (min-width: 1101px) {
    .arrow {
        display: none;
    }
}

@media (max-width: 1024px) {
    dialog {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .pokemon-details {
        width: 99%;
    }

    .left-panel {
        margin: 10px;
        width: 99%;
        aspect-ratio: 2/1;
    }

    .chart-container {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .pokeName {
        width: 90%;
        font-size: 1.2em;
    }

    .right-panel {
        max-height: 300px;
        overflow-y: auto;
    }
}

@media (max-width: 670px) {
    .pokeImg {
        height: auto;
        max-width: 80%;
        background-size: contain;
    }

    #pokemonStats {
        height: 200px;
        width: 100px;
    }
}

@media(max-width: 630px) {
    .header_img {
        display: none;
    }

    .main_header {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    #dialogHeader {
        font-size: 1.2em;
        padding: 10px;
    }

    .pokeName {
        font-size: 1em;
        padding: 5px;
    }

    .pokeImg {
        max-width: 100%;
    }

    button {
        width: 120px;
        font-size: 16px;


    }

    .arrow {
        height: 30px;
    }
}